{% extends "layout.html" %}

{% block pageTitle %}
  Summary
{% endblock %}

{% block beforeContent %}
  <a href="javascript:history.go(-1)" class="govuk-back-link">Back</a>
{% endblock %}

{% block content %}

  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">

       <form method="post">
         <div class="govuk-form-group">
          <fieldset class="govuk-fieldset">
            <legend class="govuk-fieldset__legend govuk-fieldset__legend--l">
              <h1 class="govuk-fieldset__heading">
                Are you sure you want to cancel this booking?
              </h1>
            </legend>
            <div class="govuk-radios">
              <div class="govuk-radios__item">
                <input class="govuk-radios__input" id="where-do-you-live" name="cancel" type="radio" value="yes">
                <label class="govuk-label govuk-radios__label" for="where-do-you-live">
                  Yes
                </label>
              </div>
              <div class="govuk-radios__item">
                <input class="govuk-radios__input" id="where-do-you-live-2" name="cancel" type="radio" value="no">
                <label class="govuk-label govuk-radios__label" for="where-do-you-live-2">
                  No
                </label>
              </div>
            </div>

          </fieldset>
        </div>
         <button type="submit" class="govuk-button" data-module="govuk-button">
          Confirm
        </button>
      </form>
    </div>



  </div>

{% endblock %}
