{% extends "layout.html" %}

{% block pageTitle %}
  Affected area
{% endblock %}

{% block beforeContent %}
  <a href="javascript:history.go(-1)" class="govuk-back-link">Back</a>
{% endblock %}

{% block content %}

  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">

      <form class="form" method="post">

{% from "govuk/components/radios/macro.njk" import govukRadios %}

{{ govukRadios({
  idPrefix: "communal",
  name: "communal",
  fieldset: {
    legend: {
      text: "Is the problem in a communal area?",
      isPageHeading: true,
      classes: "govuk-fieldset__legend--xl"
    }
  },
  items: [
    {
      value: "yes",
      text: "Yes",
      id: "communal-yes",
      checked: checked("communal", "yes")
    },
    {
      value: "no",
      text: "No",
      id: "communal-no",
      checked: checked("communal", "no")
    }
  ]
}) }}

  <details class="govuk-details" data-module="govuk-details">
    <summary class="govuk-details__summary">
      <span class="govuk-details__summary-text">
        What is a communal area?
      </span>
    </summary>
    <div class="govuk-details__text">
      <p class="govuk-body">Communal repairs are usually in areas that people share.</p>
      <p class="govuk-body">For example:</p>

      <ul class="govuk-list govuk-list--bullet">
        <li>repairs to door entry systems</li>
        <li>lock repairs to public doors</li>
        <li>lighting repairs to shared areas</li>
        <li>glazing repairs to shared doors or stairway windows</li>
        <li>roof and gutter repairs</li>
        <li>structure and external walls to your block</li>
      </ul>
    </div>
  </details>


        <button class="govuk-button" data-module="govuk-button">Continue</button>
      </form>

    </div>
  </div>

{% endblock %}
