{% extends "layout.html" %}

{% block pageTitle %}
  Confirmation
{% endblock %}

{% block content %}

  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">

      <div class="govuk-panel govuk-panel--confirmation">
        <h1 class="govuk-panel__title">Repair request complete</h1>
        <div class="govuk-panel__body">
          Your repair number is<br><strong>HDJ2123F</strong>
        </div>
      </div>
        <p>We have sent a confirmation to
        {% if data['how-contacted'] == 'email'%}{{data['email-address']}}{% else %}{{data['contact-by-text']}}{% endif %}.<p> <p>You can view, change or cancel your booking by clicking on the link below.</p>
        <p><a href="/beta/v4/verify-user">View your booking</a></p>

      <h2 class="govuk-heading-m">What happens next</h2>
      <p>We will assess your repair and may be in touch to ask follow-up questions.</p>

      <p><a href="/beta/v4/index">Report another issue</a></p>

    </div>


  </div>

{% endblock %}
