{% extends "layout.html" %}

{% block pageTitle %}
  Question page
{% endblock %}

{% block beforeContent %}
  <a href="javascript:history.go(-1)" class="govuk-back-link">Back</a>
{% endblock %}

{% block content %}

  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">

      <h1 class="govuk-heading-xl">
        Your repair could be an emergency
      </h1>
      <h2 class="govuk-heading-m">Emergencies</h2>
      <p class="govuk-body">An emergency is defined as something which could cause danger to someone’s health or safety or cause serious damage and destruction to property.</p>
      <p class="govuk-body">Emergency Out of Hours Repairs - Telephone: <strong>01522 534 747</strong></p>
      <p class="govuk-body">For emergencies in normal hours, please call <strong>01522 873 333</strong></p>
      <p class="govuk-body">Opening times:</p>

      <ul class="govuk-list govuk-list--bullet">
        <li>Monday 9am - 5pm</li>
        <li>Tuesday 9am - 5pm</li>
        <li>Wednesday 10am - 4.30pm</li>
        <li>Thursday 9am - 5pm</li>
        <li>Friday 9am - 4.30pm</li>
      </ul>
      <p class="govuk-body">For non-emergency requests, call <strong>01522 873 333</strong></p>
      <p>Please do not call the emergency out of hours number if the repair is not urgent.</p>
      <p>If you suspect you have a gas leak, you must report it immediately to the Gas Emergency Service <strong>0800 111 999</strong> or via textphone (minicom) on <strong>0800 371 787</strong></p>

    </div>
  </div>

{% endblock %}
