{% extends "layout.html" %}

{% block pageTitle %}
  Question page
{% endblock %}

{% block beforeContent %}
  <a href="javascript:history.go(-1)" class="govuk-back-link">Back</a>
{% endblock %}

{% block content %}

  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">

      <h1 class="govuk-heading-xl">
        The council may not be responsible for repairs at this property
      </h1>
      <h2 class="govuk-heading-m">Emergencies</h2>
      <p class="govuk-body">An emergency is defined as something which could cause danger to someone’s health or safety or cause serious damage and destruction to property.</p>
      <p class="govuk-body">Emergency Out of Hours Repairs - Telephone: <strong>01522 534 747</strong></p>
      <p class="govuk-body">For non-emergency requests, call <strong>01522 873 333</strong></p>
      <details class="govuk-details" data-module="govuk-details">
        <summary class="govuk-details__summary">
          <span class="govuk-details__summary-text">
            Opening times:
          </span>
        </summary>
        <div class="govuk-details__text">
          <ul class="govuk-list govuk-list--bullet">
            <li>Monday 9am - 5pm</li>
            <li>Tuesday 9am - 5pm</li>
            <li>Wednesday 10am - 4.30pm</li>
            <li>Thursday 9am - 5pm</li>
            <li>Friday 9am - 4.30pm</li>
          </ul>
        </div>
      </details>
      <p>Please do not call the emergency out of hours number if the repair is not urgent. We may charge you a fee if the repair is not deemed an emergency.</p>
      <p>If you suspect you have a gas leak, you must report it immediately to the Gas Emergency Service <strong>0800 111 999</strong> or via textphone (minicom) on <strong>0800 371 787</strong></p>

      <hr>
      <h2 class="govuk-heading-m">Non-emergency requests</h2>

      <p>If you think the council is responsible for your property, please call <span class="govuk-!-font-weight-bold">01522 873 355</span>.</p>
      <p>If you are a leaseholder you can still report communal repairs on <span class="govuk-!-font-weight-bold">01522 873 333</span>.</p>


    </div>
  </div>

{% endblock %}
