{% extends "layout.html" %}

{% block pageTitle %}
  Repair type
{% endblock %}

{% block beforeContent %}
  <a href="javascript:history.go(-1)" class="govuk-back-link">Back</a>
{% endblock %}

{% block content %}

  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">

      <form class="form" method="get" action="repair-description">

        {% from "govuk/components/radios/macro.njk" import govukRadios %}
        {% from "govuk/components/input/macro.njk" import govukInput %}

        {% set emailHtml %}
        {{ govukInput({
          id: "contact-by-email",
          name: "contact-by-email",
          type: "number",
          spellcheck: false,
          classes: "govuk-input govuk-date-input__input govuk-input--width-2",
          label: {
            text: "How many floors in the property?"
          }
        }) }}
        {% endset -%}

        {{ govukRadios({
          idPrefix: "contact",
          name: "contact",
          fieldset: {
            legend: {
              text: "What is the problem?",
              isPageHeading: true,
              classes: "govuk-fieldset__legend--l"
            }
          },

          items: [
            {
              value: "email",
              text: "Gutters",
              conditional: {
                html: emailHtml
              }
            },
            {
              value: "phone",
              text: "Downpipe",
              conditional: {
                html: phoneHtml
              }
            }
          ]
        }) }}

        <button class="govuk-button" data-module="govuk-button">Continue</button>

      </form>

</div>

</div>

{% endblock %}
