{% extends "layout.html" %}

{% block pageTitle %}
  Repair type
{% endblock %}

{% block beforeContent %}
  <a href="javascript:history.go(-1)" class="govuk-back-link">Back</a>
{% endblock %}

{% block content %}

  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">

      <form class="form" method="get">

        {% from "govuk/components/radios/macro.njk" import govukRadios %}

        {{ govukRadios({
          idPrefix: "repair-outside-water",
          name: "outside-graffiti",
          fieldset: {
            legend: {
              text: "Is it offensive?",
              isPageHeading: true,
              classes: "govuk-fieldset__legend--xl"
            }
          },
          items: [
            {
              value: "yes",
              text: "Yes",
              id: "repair-location-garage-cupboards",
              checked: checked("repair-location-garage", "Cupboards")
            },
            {
              value: "no",
              text: "No",
              id: "repair-location-garage-cupboards",
              checked: checked("repair-location-garage", "Cupboards")
            }
          ]
        }) }}

        <button class="govuk-button" data-module="govuk-button">Continue</button>

      </form>

</div>

</div>

{% endblock %}
