{% extends "layout.html" %}

{% block pageTitle %}
  Repair type
{% endblock %}

{% block beforeContent %}
  <a href="javascript:history.go(-1)" class="govuk-back-link">Back</a>
{% endblock %}

{% block content %}

  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">

      <form class="form" method="get" action="repair-description">

        {% from "govuk/components/radios/macro.njk" import govukRadios %}

        {{ govukRadios({
          idPrefix: "repair-lighting-bedroom",
          name: "repair-lighting-bedroom",
          fieldset: {
            legend: {
              text: "What best describes the problem?",
              isPageHeading: true,
              classes: "govuk-fieldset__legend--xl"
            }
          },
          items: [
            {
              value: "shed-door",
              text: "Shed door",
              id: "repair-location-bedroom-cupboards",
              checked: checked("repair-location-bedroom", "Cupboards")
            },
            {
              value: "sockets",
              text: "Outside cupboard door",
              id: "repair-location-bedroom-worktop",
              checked: checked("repair-location-bedroom", "Worktop")
            },
            {
              value: "wooden-back-door",
              text: "Wooden back door",
              id: "repair-location-bedroom-cupboards",
              checked: checked("repair-location-bedroom", "Cupboards")
            },
            {
              value: "upvc-back-door",
              text: "UPVC back door",
              id: "repair-location-bedroom-worktop",
              checked: checked("repair-location-bedroom", "Worktop")
            },
            {
              value: "french-door",
              text: "French doors",
              id: "repair-location-bedroom-worktop",
              checked: checked("repair-location-bedroom", "Worktop")
            }
          ]
        }) }}

        <button class="govuk-button" data-module="govuk-button">Continue</button>

      </form>

</div>

</div>

{% endblock %}
