{% extends "layout.html" %}

{% block pageTitle %}
  Residential status
{% endblock %}

{% block beforeContent %}
  <a href="javascript:history.go(-1)" class="govuk-back-link">Back</a>
{% endblock %}

{% block content %}

  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">

      <form class="form" method="post">

{% from "govuk/components/radios/macro.njk" import govukRadios %}

{{ govukRadios({
  idPrefix: "resident",
  name: "resident",
  fieldset: {
    legend: {
      text: "Which of the following are you?",
      isPageHeading: true,
      classes: "govuk-fieldset__legend--xl"
    }
  },
  items: [
    {
      value: "tenant",
      text: "Tenant",
      id: "tenant",
      checked: checked("tenant", "yes")
    },
    {
      value: "leaseholder",
      text: "Leaseholder",
      id: "leaseholder",
      checked: checked("leaseholder", "yes")
    }
  ]
}) }}

        {% from "govuk/components/details/macro.njk" import govukDetails %}


        <button class="govuk-button" data-module="govuk-button">Continue</button>
      </form>

    </div>
  </div>

{% endblock %}
