{% extends "layout.html" %}

{% block pageTitle %}
  Contact service team
{% endblock %}

{% block beforeContent %}
  <a href="javascript:history.go(-1)" class="govuk-back-link">Back</a>
{% endblock %}

{% block content %}

  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">

      <h1 class="govuk-heading-xl">
        Please contact our team
      </h1>

      <p>Your repair may require the attention of our specialist diagnostics team.</p>

      <p>Please contact us to report your repair. Our number is 0208 591 7940, and our call centre is open 9am to 5pm on weekdays.</p>

    </div>
  </div>

{% endblock %}
