{% extends "layout.html" %}

{% block pageTitle %}
  Contact details
{% endblock %}

{% block beforeContent %}
  <a href="javascript:history.go(-1)" class="govuk-back-link">Back</a>
{% endblock %}

{% block content %}
<script>
$(document).ready(function() { console.log({data}) });
</script>
  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">
      <form class="form" action="/beta/v4/view-booking-new" method="post">

        <div class="govuk-form-group">
          <fieldset class="govuk-fieldset" aria-describedby="how-contacted-conditional-hint">
            <legend class="govuk-fieldset__legend govuk-fieldset__legend--xl">
              <h1 class="govuk-fieldset__heading">
                Please provide your repair number and the temporary password we sent to your phone.
              </h1>
            </legend>
            <div class="govuk-form-group">
              <label class="govuk-label" for="event-name">
                Repair Number, e.g. LNC10293
              </label>
              <input class="govuk-input" id="event-name" name="event-name" type="text">
            </div>
            <div class="govuk-form-group">
              <label class="govuk-label" for="event-name">
                Temporary password (this was sent to your phone)
              </label>
              <input class="govuk-input" id="event-name" name="event-name" type="text">
            </div>
        </div>

        <details class="govuk-details" data-module="govuk-details">
          <summary class="govuk-details__summary">
            <span class="govuk-details__summary-text">
              Don't have the details?
            </span>
          </summary>
          <div class="govuk-details__text">
            Please call us on 0800 XXX XXX.
          </div>
        </details>

        <button class="govuk-button" data-module="govuk-button">Continue</button>
      </form>

    </div>
  </div>

{% endblock %}
