{% extends "layout.html" %}

{% block pageTitle %}
  Summary
{% endblock %}

{% block beforeContent %}
  <a href="javascript:history.go(-1)" class="govuk-back-link">Back</a>
{% endblock %}

{% block content %}

  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">
      <h1 class="govuk-heading-xl">
        Request summary
      </h1>

      <p><a href="/beta/v4/cancel-booking" class="govuk-button govuk-button--secondary">Cancel booking</a></p>

 <h2 class="govuk-heading-m">Personal details</h2>

 <dl class="govuk-summary-list govuk-!-margin-bottom-9">

        <div class="govuk-summary-list__row">
          <dt class="govuk-summary-list__key">
            Repair address
          </dt>
          <dd class="govuk-summary-list__value">
            {{ data['address']}}, {{data['address-postcode']}}
          </dd>
          
        </div>

        <div class="govuk-summary-list__row">
          <dt class="govuk-summary-list__key">
            Appointment contact number
          </dt>
          <dd class="govuk-summary-list__value">
            {{ data['appointment-contact-number']}}
          </dd>
          <dd class="govuk-summary-list__actions">
            <a href="/beta/v4/contact-details-appointment">
              Change
              <span class="govuk-visually-hidden"> phone information</span>
            </a>
          </dd>
        </div>
      </dl>

       <h2 class="govuk-heading-m">Repair details</h2>

      <dl class="govuk-summary-list govuk-!-margin-bottom-9">
        <div class="govuk-summary-list__row">
          <dt class="govuk-summary-list__key">
            Location
          </dt>
          <dd class="govuk-summary-list__value">
            {{ data['repair-location']}}
          </dd>
          <dd class="govuk-summary-list__actions">
            <a href="/beta/v4/repair-location">
              Change
              <span class="govuk-visually-hidden"> name</span>
            </a>
          </dd>
        </div>

        <div class="govuk-summary-list__row">
          <dt class="govuk-summary-list__key">
            Category
          </dt>
          <dd class="govuk-summary-list__value">
            {{ data['repair-area']}}
          </dd>
          <dd class="govuk-summary-list__actions">
            <a href="/beta/v4/repair-location">
              Change
              <span class="govuk-visually-hidden"> name</span>
            </a>
          </dd>
        </div>

        <div class="govuk-summary-list__row">
          <dt class="govuk-summary-list__key">
            Problem
          </dt>
          <dd class="govuk-summary-list__value">
            {{ data['repair-type-cupboards']}}
          </dd>
          <dd class="govuk-summary-list__actions">
            <a href="/beta/v4/repair-type">
              Change
              <span class="govuk-visually-hidden"> contact information</span>
            </a>
          </dd>
        </div>
        <div class="govuk-summary-list__row">
          <dt class="govuk-summary-list__key">
            Description
          </dt>
          <dd class="govuk-summary-list__value">
            {{data['repair-description']}}
          </dd>
          <dd class="govuk-summary-list__actions">
            <a href="/beta/v4/repair-description">
              Change
              <span class="govuk-visually-hidden"> contact details</span>
            </a>
          </dd>
        </div>
      </dl>

      <h2 class="govuk-heading-m">Appointment details</h2>

      <dl class="govuk-summary-list govuk-!-margin-bottom-9">


        <div class="govuk-summary-list__row">
          <dt class="govuk-summary-list__key">
            Date
          </dt>
          <dd class="govuk-summary-list__value">
            <p>{{data['availability-time']}}</p>
          </dd>
          <dd class="govuk-summary-list__actions">
            <a href="/beta/v4/repair-availability">
              Change
              <span class="govuk-visually-hidden"> date information</span>
            </a>
          </dd>
        </div>
        <div class="govuk-summary-list__row">
          <dt class="govuk-summary-list__key">
            Confirmation contact details
          </dt>
          <dd class="govuk-summary-list__value">

            <p>

            {% if data['how-contacted'] == 'email' %}

            {{data['email-address']}}


            {% else %}



             {{data['contact-by-text']}}

           {% endif %}

            </p>

            </dd>
          <dd class="govuk-summary-list__actions">
            <a href="/beta/v4/contact-details">
              Change
              <span class="govuk-visually-hidden"> contact details</span>
            </a>
          </dd>
        </div>

      </dl>



        <a href="confirmation" class="govuk-button" data-module="govuk-button">
          Save
        </a>

    </div>



  </div>

{% endblock %}
